parameters:
  level: max
  paths:
    - src
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: true
  checkAlwaysTrueBooleanCondition: true
  checkAlwaysTrueCheckTypeFunctionCall: true
  checkMissingCallableSignature: true
  checkExplicitMixed: true
  universalObjectCratesClasses: []
