root = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_style_require_accessibility_modifiers = always:error
dotnet_analyzer_diagnostic.severity = error
dotnet_diagnostic.IDE0063.severity = error
# Avoid implicit culture-dependent formatting
dotnet_diagnostic.CA1305.severity = error
dotnet_diagnostic.CA1062.severity = error
dotnet_diagnostic.CA1822.severity = error
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.CA1716.severity = error
